@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koh+Santepheap:wght@300;400;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,300&family=Special+Elite&display=swap");

.navegador {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* position: fixed; */
  padding: 1%;
  width: 100%;
  background-color: #e7571d;
}

.navegador__vacio {
  width: 40%;
}

.navegador__contenido {
  width: 50%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navegador__contenido a {
  all: unset; /* Elimina todos los estilos por defecto */
  cursor: pointer; /* Asegúrate de que siga siendo un enlace visible */
  text-decoration: none; /* Evita el subrayado */
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

.active {
  color: rgb(0, 0, 0) !important;
}

.noActive {
  color: white;
}

#contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 3%;
}

.contenido__material {
}

.contenido__titulo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido__titulo h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}

.contenido__titulo h1 span {
  color: #e7571d;
}

#contenido__imagen {
  margin-top: 5%;
}

.contenido__notificaciones {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton {
  background-color: #e7571d;
  color: white;
}

.boton:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: white;
  font-weight: 700;
}


@media (max-width: 950px) {
  #contenido {
    flex-direction: column;
  }

  .fondo {
    /* margin-top: 10%; */
  }

  .fondo {
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .navegador {
    padding: 5%;
  }

  .navegador__contenido a {
    font-size: 1rem;
  }

  .navegador__vacio {
    width: 0%;
  }

  .navegador__contenido {
    width: 100%;
    margin-right: 0%;
  }
}

@media (max-width: 500px) {
  .fondo {
    /* margin-top: 12%; */
  }

  .navegador {
    padding: 5%;
  }

  .navegador__vacio {
    width: 0%;
  }

  .navegador__contenido {
    width: 100%;
    margin-right: 0%;
  }

  .navegador__contenido a {
    font-size: 0.75rem;
  }
}
